__pycache__
.DS_Store
*.pyc
docs
password.py
STRATEGIES
tests/tv/TEST_SPOT/TEST_OUT_ETHUSDT/
tests/tv/TEST_SPOT/TEST_OUT_BTCUSDT/
tests/tv/TEST_FUTURES/TEST_OUT_ETHUSDT/
tests/tv/TEST_FUTURES/TEST_OUT_BTCUSDT/