[run]
branch = True
source = .
concurrency = multiprocessing
disable_warnings = no-data-collected
parallel = True
omit =
    utils/*
    sitecustomize.py
    password.py
    tests/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

[xml]
output = ./coverage/coverage.xml